<html>

    <head lang="en">
        <title>El Paso's Current Weather</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


        <!--<link href="../../static/assets/css/bootstrap.css"
              th:href="@{assets/css/bootstrap.css}"
              rel="stylesheet" media="screen"/>

        <link href="../../static/assets/css/bootstrap-theme.css"
              th:href="@{assets/css/bootstrap-theme.css}"
              rel="stylesheet"/>

        <script src="../../static/assets/js/jquery-3.1.1.min.js"
                th:src="@{assets/js/jquery-3.1.1.min.js}"></script>-->

        <link href="../../static/css/styles.css" rel="stylesheet" media="screen">

        <link href="../../static/css/navbar.css" rel="stylesheet" media="screen">

        <script src="../../static/js/jquery-3.1.1.js"></script>

        <!--<script src="../../static/js/scripts.js"></script>-->

        <script src="../../static/js/current/scripts.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="background-image" style="background: transparent url('../../static/images/backgrounds/bg2.png') no-repeat scroll 25% 25% / cover;">

            </div>
        </div>
    </body>
</html>