<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

    <head lang="en">
        <title>El Paso's Current Weather</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="../../static/assets/css/bootstrap.css"
              th:href="@{assets/css/bootstrap.css}"
              rel="stylesheet" media="screen"/>

        <link href="../../static/assets/css/bootstrap-theme.css"
              th:href="@{assets/css/bootstrap-theme.css}"
              rel="stylesheet"/>

        <script src="../../static/assets/js/jquery-3.1.1.min.js"
                th:src="@{assets/js/jquery-3.1.1.min.js}"></script>
    </head>

    <body>

    </body>
</html>